<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="mysql-config.properties" />

	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>

	<!--<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="autoMappingBehavior" value="FULL" />
		<setting name="defaultStatementTimeout" value="25000" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="defaultExecutorType" value="SIMPLE" />
	</settings>-->
	
	<!--<typeHandlers>
		<typeHandler javaType="boolean" jdbcType="VARCHAR"
			handler="com.winterframework.orm.dal.ibatis3.type.YesNoTypeHandler" />
		<typeHandler handler="org.apache.ibatis.type.DateTypeHandler"
			javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</typeHandlers>
	
	<plugins>
	    <plugin interceptor="com.github.pagehelper.PageHelper">
	        <property name="dialect" value="mysql"/>
	        <property name="offsetAsPageNum" value="true"/>
	        <property name="rowBoundsWithCount" value="true"/>
	        <property name="pageSizeZero" value="true"/>
	        <property name="reasonable" value="false"/>
	        <property name="params" value="pageNum=start;pageSize=limit;"/>
	    </plugin>
	</plugins>-->

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClass}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="sqlmap/MemberDistributionMapper.xml"/>
	</mappers>

</configuration>
